@import './variables.css';

.bodyContainer{
    height: calc(100vh - 48px);
    display: flex;
}

.leftNav{
    width: 68px;
    color: var(--foregroundColor2);
    background-color: var(--backgroundColor3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftNavButton{
    box-sizing: border-box;
    font-size: 12px;
    padding: 1px 5px;
    height: 60px;
    width: 100%;
    color: var(--foregroundColor2);
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftNavButtonText{
    font-size: 10px;
}