@import "./variables.css";

.callWindow{
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor6);
    display: flex;
}

.callLeft{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.callMain{
    height: 85%;
    box-sizing: border-box;
    padding: 8px;
}

.callOptions{
    box-sizing: border-box;
    margin: 8px;
    background-color: var(--foregroundColor4);
    height: 8%;
    width: 40%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 2px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.callOptionsButtons{
    width: 15%;
    color: var(--defaultBackgroundColor);
    outline: none;
    border: none;
    cursor: pointer;
}

.callOptionsEndcall{
    background-color: var(--redForegroundColor);
}