@import './variables.css';

.hide{
    display: none;
}

.leftRail{
    background-color: var(--backgroundColor4);
    width: 23.5%;
    box-shadow: -5px 0px 15px -10px var(--boxShadowColor1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.leftRail_hide{
    display: none;
}

.leftRailHeader{
    height: 8.5%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
    /* border-bottom: 3px solid var(--backgroundColor5); */
}

.leftRailHeading{
    box-sizing: border-box;
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--defaultForegroundColor);
    padding: 20px 0px 20px 0px;
}

.leftRailBody{
    box-sizing: border-box;
    border-top: 1px solid var(--backgroundColor5);
    height: calc(100vh - 48px - 8.5%);
    display: flex;
    flex-direction: column;
    padding: 8px 0px 8px 0px;
    overflow: auto;
}

.leftRailListItems{
    display: flex;
    box-sizing: border-box;
    padding: 0px 18px 0px 20px;
    align-items: center;
    width: 100%;
    height: 8%;
    color: var(--defaultForegroundColor);
    cursor: pointer;
    margin: 0px 0px 4px 0px;
}

.leftRailListItems:hover{
    background-color: var(--defaultBackgroundColor);
}

.leftRailListItems_selected
{
    background-color: var(--defaultBackgroundColor);
}

.leftRail_ListItem_Name{
    box-sizing: border-box;
    margin: 0px 0px 0px 9px;
    font-size: 0.92rem;
}

.leftRailRoomOptions{
    height: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.leftRailButtons{
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 6px;
    cursor: pointer;
    background-color: var(--greenForegroundColor);
    color: var(--foregroundColor3);
    width: 40%;
    border-radius: 3px;
    font-size: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px -2px;
} 

.leftRailButtons:active{
    transform: scale(1.009);
}

.createRoomPopup{
   background-color: var(--brandForegroundColor);
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   color: var(--defaultBackgroundColor);
}

.roomNameInput{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.roomNameInputField{
    outline: none;
    border: none;
    height: 25px;
    width: 60%;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 3px;
}

.radioButtonDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.roomPopupButtonDiv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.roomPopupButtons{
    outline: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px;
    width: 40%;
    cursor: pointer;
}

.roomPopupButtons:active{
    transform: scale(1.01);
}