@import "./variables.css";

.mainBody{
    width: calc(100vw - 68px - 23.5%);
    background-color: var(--backgroundColor2);
    box-sizing: border-box;
    box-shadow: -5px 0px 15px -10px var(--boxShadowColor1);
}

.mainBody_expand{
    width: calc(100vw - 68px);
}

.mainBodyHeader{
    height: 8.5%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0px 20px 0px 15px;
}

.mainBodyHeader_hide{
    display: none;
}

.mainBodyContainer{
    box-sizing: border-box;
    border-top: 1px solid var(--backgroundColor5);
    height: calc(100vh - 48px - 8.5%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.mainBodyContainer_expand{
    height: calc(100vh - 48px);
}

.mainBodyHeaderLeft{
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.mainBodyHeaderRight{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.mainBodyHeaderLeft > .MuiSvgIcon-root{
    box-sizing: border-box;
    margin-right: 15px;
}