@import "./variables.css";

.videoWindow{
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor6);
    display: flex;
}

.videoLeft{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.videoMain{
    height: 85%;
    box-sizing: border-box;
    padding: 8px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.userVideos{
    min-width: 25rem;
    min-height: 15rem;
    max-width: 45%;
    max-height: 80%;
    background-color: white;
    flex-basis: 1; 
}

.videoOptions{
    box-sizing: border-box;
    margin: 8px;
    background-color: var(--foregroundColor4);
    height: 8%;
    width: 40%;
    border-radius: 4px;
    box-shadow: 0 4px 10px 2px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.videoOptionsButtons{
    width: 15%;
    color: var(--defaultBackgroundColor);
    outline: none;
    border: none;
    cursor: pointer;
}

.videoOptionsEndcall{
    background-color: var(--redForegroundColor);
}